@import url('https://fonts.googleapis.com/css?family=Roboto:300&700&display=swap');

.push_main{
    font-family: Roboto;
    font-weight: 300;
    color: #fff;
    width: 75%;   
    overflow: hidden;


}

main h1{
    font-size: 2rem;
    width: 90%;
}

main p{
    font-size: 1rem;
}

form{
    font-size: 1.2rem;
}
form .title{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: #0d8fb8;
    font-weight: 700;
}

form .title input, form .title textarea{
    background-color: rgba(255,255,255, 0.1);
    padding: 5px;
    outline: none;
    border: 2px solid #0d8fb8;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
}

textarea{
    width: 99%;
}

form .title #title{
    width: 20%;
}

form .title #desc{
    width: 80%;
    min-height: 50px;
}

form .keys{
    margin-top: 20px;
    background-color: #fff;
    width: 100%;
    color: black;
    border-radius: 10px;
    display: flex;
    height: 500px;
    overflow: hidden;
}

form .keys .new{
    width: 60%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

form .keys .new .new_container{
    width: 80%;
    height: 70%;
    border-radius: 10px;
    display: inline-grid;
}

form .keys .new .new_container label{
    font-size: 1.2rem;
}

form .keys .new .new_container input{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    border: solid 2px #47C6A0;
    padding: 5px;
    color:rgb(0, 0, 0);
    font-size: 1.2rem;
    outline: none;
    margin: 10px 0px 10px 0px;
    width: 100%;
}

form .keys .new .new_container select,
form .keys .new .new_container button{
    border: none;
    outline: none;
    background-color: #EB6464;
    color: white;
    padding: 5px;    
    border-radius: 5px; 
    font-size: 1.0rem;
    cursor: pointer;
    width: 100px;
}


form .keys .new .new_container button{
    background-color: #0d8fb8;
    padding: 8px 15px;
    width: 150px;
    margin-top: 20px;
    transition: 0.25s;
}

form .keys .new .new_container button:hover{
    background-color: #0b6885;
    transition: 0.25s;
}


form .keys .show{
    width: 40%;
    padding: 20px;  
    overflow: hidden;
    overflow-y: scroll;
}

form .keys .show ul{
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

}

form .keys .show ul h1{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 10px 0px 10px 0px;
}

form .keys .show ul li{
    padding: 5px;
    font-size: 1rem;
    background-color: #EB6464;
    opacity: 0.8;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    transition: 0.25s;
    cursor: pointer;
}

form .keys .show .key_order li{
    background-color: #47C6A0;
}

form .keys .show ul li:hover{
    opacity: 1;
    transition: 0.25s;
}

.bts{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#finish{
    background-color: transparent;
    color: red;
    border: 2px solid red;
}

#finish:hover{
    background-color: red;
    color:white;
    transition: 0.25s;
}

#sc_parent{
    width: 102%;
    padding: 1px;
    border: solid 2px rgb(110, 110, 110);
    color: black;
    background-color: transparent;
    transition: 0.25s;
    margin-bottom: 15px;
}

#sc_parent:hover{
    background-color: rgb(230, 230, 230);
    transition: 0.25s;
}