@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700&display=swap');

.mykey{
    background-color: rgba(0, 0, 0, 0.616);
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin-right: 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    color: white;
}
.mykey::-webkit-scrollbar{
    width: 12px;
    color: #000;

    border-radius: 10px;
 }
 
.mykey::-webkit-scrollbar-thumb{
     background-color: #0d8fb8;
     border-radius: 10px;
}


.mykey .mykeys{
    padding: 10px;
    font-weight: lighter;
    margin-left: 20px;

}

.mykey .mykeys .text_title{
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.mykey .mykeys .ul_queries{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.mykey .mykeys .ul_queries .li_queries{
    padding: 10px;
    width: 400px;
    height: 200px;
    background-color: #0d8fb8;;
    margin: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
}

.mykey .mykeys .ul_queries .li_queries:hover{
    background-color:#105f77;
    transform: scale(1.02);
    transition: 0.25s;
}

.mykey .mykeys .ul_queries .li_queries .query_title{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.mykey .mykeys .ul_queries .li_queries .query_description{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.mykey .mykeys .ul_queries .li_queries .description{
    font-weight: 300;
    font-size: 1rem;
}


.mykey .mykeys .preview_container{
    position: absolute;
    z-index: 100;
    width: 96%;
    top: 10px;
    display: none;
}