/* Preview */
.preview{
    grid-area: preview;
    
}

.preview_container{
    height: 91%;
    width: 96%;
    margin: auto;
    display: flex;
    margin-top: 40px;   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.title{
    height: 5%;
    width: 100%;
}
.title_box{
    width: 150px;
    height: 80%;
    background-color: #36889f;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    color: #000;
    cursor: pointer;
    transition: 0.25s;
}

.title_box:hover{
    background-color: rgb(32, 99, 119);
    transition: 0.25s;
}

.title_box h3{
    font-family: Roboto;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}
.preview_box{
    height: 95%;
    width: 100%;
    background: white;
    border-radius: 8px;
    display: grid;
    grid-template-areas: 
    'about about'
    'orders sentences';
    grid-template-rows: 30% 70%;
    grid-template-columns: 20% 80%;
    border: 2px solid rgba(150, 150, 150, 0.322);
    position: relative;
}

.about{
    grid-area: about;
    margin: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000;
}

.about .titlePreview{
    font-size: 20px;
}

.about .descriptionTitle{
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
}

.about .creator{
    font-size: 15px;
    color: #0D8FB8;
}




.orders{
    grid-area: orders;

}
.orders_box{
    width: 100%;
    height: 100%;
    position: relative;
}

.orders_box .ul_preview{
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
    height: inherit;
    position: absolute;
    width: 100%;
}

.orders_box .ul_preview .li_preview{
    width: 90%;
    height: 25px;
    margin: 10px auto;
    background-color: #EBEBEB;
    border-radius: 5px;
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.1s;
}

.orders_box .ul_preview .li_preview:hover{
    transform: scale(1.07);
    transition: 0.1s;
    cursor: pointer;
    box-shadow: inset 0px 0px 10px #929292;
}

.orders_box h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

.orders_box .ul_preview::-webkit-scrollbar{
    width: 12px;
 }
 
 .orders_box .ul_preview::-webkit-scrollbar-thumb{
     background: linear-gradient(transparent, #aaa);
     border-radius: 10px;
 
  }
 
  .orders_box .ul_preview::-webkit-scrollbar-thumb:hover{
     background: linear-gradient(transparent, #888);
 
  }


.sentences{
    grid-area:sentences;

}

.senteces_box{
    width: 100%;
    height: 100%;
    position: relative;
}

.senteces_box .ul_preview{
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
    height: inherit;
    position: absolute;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.senteces_box .ul_preview .order_name{
    font-family: Roboto;
    font-weight: 300;
    color: #000;
    font-size: 25px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.senteces_box .ul_preview .li_preview{
    width: 90%;
    margin: 10px auto 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}
.senteces_box .ul_preview .li_preview img{
    margin-top: 10px;
} 
.sentence_found{
    background: rgb(223, 223, 223);
    padding: 5px;
    border-radius: 5px;
}

.senteces_box p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

.senteces_box .ul_preview::-webkit-scrollbar{
    width: 12px;
 }
 
 .senteces_box .ul_preview::-webkit-scrollbar-thumb{
     background: linear-gradient(transparent, #aaa);
     border-radius: 10px;
 
  }
 
  .senteces_box .ul_preview::-webkit-scrollbar-thumb:hover{
     background: linear-gradient(transparent, #888);
 
  }

  .close{
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
  }